/* You can add global styles to this file, and also import other style files */

// @import "../node_modules/bootstrap/scss/functions";
// @import "../node_modules/bootstrap/scss/variables";
// @import "../node_modules/bootstrap/scss/mixins";

// $theme-colors: (
//   // "primary": #01416F
//   "primary": red

// $theme-colors: (
//   primary: red
// );
// $primary: #01416F;

// );
/* @import '@angular/material/prebuilt-themes/deeppurple-amber.css';*/
// @import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~ngx-toastr/toastr.css';
@import '../node_modules/bootstrap/scss/bootstrap';


// @import "../node_modules/bootstrap/scss/functions";
// @import "../node_modules/bootstrap/scss/variables";
// @import "../node_modules/bootstrap/scss/mixins";




// $text-dark:             red !default;


.material-icons {
  // font-family: 'Material Icons';
  // font-weight: normal;
  // font-style: normal;
  // font-size: 24px;  /* Preferred icon size */
  // display: inline-block;
  // line-height: 1;
  // text-transform: none;
  // letter-spacing: normal;
  // word-wrap: normal;
  // white-space: nowrap;
  // direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}



body{
  padding-top: 3cm;
  background-color: #f7f7f7 !important;
  color: $gray-800 !important;
}

a {
  word-break:break-all;
}

//.modal-backdrop {
  // z-index: 100000 !important;
//}

//.modal {
  // z-index: 100001 !important;
//}

.mat-button-toggle-button:focus {
  outline: none !important;
}

span:focus {
  outline: none !important;
  border: 0;
}

*:focus {
  outline: none !important;
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

input[type="date"]::-webkit-inner-spin-button, 
input[type="date"]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}


 .mat-sort-header-arrow.ng-trigger.ng-trigger-arrowPosition{
   color: #fff;
 }


  .menu-overflow-hidden-partners {
    overflow: visible !important;
    min-height: 305px !important;
    width: 200px;
  }

  .menu-overflow-hidden {
    overflow: visible !important;
    min-height: 220px !important;
    width: 200px;
  }

  .menu-overflow-hidden-catalogue {
    overflow: visible !important;
    min-height: 280px !important;
    width: 200px;
  }