<h3 class="heading">Delete Request</h3>
  <br>
  <p style="color: #5C5C5C;">Are you sure you want to delete the request for "<i>{{request.trainingName}}</i>" ?</p>



<div mat-dialog-actions style="float: right;">

  <button mat-raised-button  color="primary"  (click)="deleteRequest(request)">Delete</button>
  <button mat-raised-button  color="primary"  (click)="onNoClick()">Cancel</button>
</div>
