.mat-dialog-title {
    color: #01416F;
    //font-family: 'Antic Slab';
    font-size: xx-large;
}

td, tr {
    color: #5C5C5C;
}

.label-heading {
    color: #01416F;
    font-size: 1.2rem;
    //font-family: 'Antic Slab';
    margin-bottom: 15px;
    margin-top: 15px;
  }

.mat-raised-button {
    outline: none;
    color: #01416F;
}

.mat-primary {
    outline: none;
    background-color: #01416F;
    color: #fff;
}

.form-control {
    width: 250px;
    height: 30px;
    color: #5C5C5C;
}

.description-field {
    color: #5C5C5C;
}

.link-field {
    color: #5C5C5C;
}

.dropdown-field {
    width: 250px;
    height: 30px;
    color: #5C5C5C;
}

.top-buffer { 
    margin-top:50px; 
}

.top-buffer-neg { 
    margin-top:-10px; 
}

input:focus {
    outline: none;      /* Remove default outline and use border or box-shadow */
    border: 2px solid #01416F;
    box-shadow: none;
    box-shadow: 0px 1px 4px #01416F;
   }

button:active {
    outline: none;      /* Remove default outline and use border or box-shadow */
    border: 2px solid #01416F;
    box-shadow: none;
    box-shadow: 0px 1px 4px #01416F;
   }


select:focus {
    outline: none;      /* Remove default outline and use border or box-shadow */
    border: 2px solid #01416F;
    box-shadow: none;
    box-shadow: 0px 1px 4px #01416F;
   }

 textarea:focus {
    outline: none;      /* Remove default outline and use border or box-shadow */
    border: 2px solid #01416F;
    box-shadow: none;
    box-shadow: 0px 1px 4px #01416F;
   }