<h2 mat-dialog-title>Add training</h2>
<mat-dialog-content style="line-height: 97%;">
  <form #userForm="ngForm" (ngSubmit)="save()">

    <div class="row">
      <div class="col-lg-6">
        <label class="label-heading">Training name*</label>
        <input type="text" #Name="ngModel" required class="form-control"
          [class.is-invalid]="Name.invalid && Name.touched" class="form-control" [(ngModel)]="training.Name"
          name="Name">
        <small class="text-danger" [class.d-none]="Name.valid || Name.untouched">Training name is required</small>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <label class="label-heading">Description*</label><br>
        <textarea 
        rows=2 
        name="description" 
        id="description" 
        class="form-control description-field" 
        required
        [(ngModel)]="training.Description" 
        #description="ngModel"
        [class.is-invalid]="description.invalid && description.touched">
            </textarea>
        <div *ngIf="description?.errors?.required && (description.dirty || description.touched)">
          <small class="text-danger">The Description is required</small>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-6" style="border-right: 1px solid #e0e0e0;">
        <label class="label-heading">Summary</label><br>
        <table style="width:100%">
          <tr>
            <td>Category*: </td>
            <td>
              <select class="dropdown-field" #Category="ngModel" (blur)="validateCategory(Category.value)"
                (change)="validateCategory(Category.value)" [(ngModel)]="training.Category"
                [class.is-invalid]="CategoryHasError && Category.touched" name="Category" default="default">
                <option value="default" selected disabled hidden></option>
                <option value="Banking">Banking</option>
                <option value="Soft skills">Soft skills</option>
                <option value="Management">Management</option>
                <option value="IT skills">IT skills</option>
              </select>
              <br>
              <small class="text-danger" [class.d-none]="!CategoryHasError || Category.untouched">Please choose a
                category</small>
            </td>
          </tr>
          <tr>
            <td>Eligibility*: </td>
            <td>
              <select class="dropdown-field" #Target_group="ngModel" (blur)="validateTarget_group(Target_group.value)"
                (change)="validateTarget_group(Target_group.value)" [(ngModel)]="training.Target_group"
                [class.is-invalid]="Target_groupHasError && Target_group.touched" name="Target_group">
                <option value="default" selected disabled hidden></option>
                <option value="Junior">Junior</option>
                <option value="Consultant">Consultant</option>
                <option value="Senior">Senior</option>
                <option value="Manager">Manager</option>
              </select>
              <br>
              <small class="text-danger" [class.d-none]="!Target_groupHasError || Target_group.untouched">Please choose
                an
                eligibility</small>
            </td>
          </tr>
          <tr>
            <td>Certification Title: </td>
            <td>
              <input type="text" class="form-control" [(ngModel)]="training.Certification" name="Certification">
            </td>
          </tr>
          <tr>
            <td>Location*: </td>
            <td>
              <input type="text" #Location="ngModel" required class="form-control"
                [class.is-invalid]="Location.invalid && Location.touched" class="form-control"
                [(ngModel)]="training.Location" name="Location">
              <small class="text-danger" [class.d-none]="Location.valid || Location.untouched">The location is
                required</small>
            </td>
          </tr>
          <tr>
            <td>Institute*: </td>
            <td>
              <input 
              type="text" 
              class="form-control" 
              required [(ngModel)]="training.Institute" 
              name="Institute"
              #institute="ngModel"
              [class.is-invalid]="institute.invalid && institute.touched">
              <div *ngIf="institute?.errors?.required && institute.touched">
                <small class="text-danger">The institute is required</small>
              </div>
            </td>
          </tr>
          <tr>
            <td>Language*: </td>
            <td>
              <select class="dropdown-field" #Language="ngModel" (blur)="validateLanguage(Language.value)"
                (change)="validateLanguage(Language.value)" [(ngModel)]="training.Language"
                [class.is-invalid]="LanguageHasError && Language.touched" name="Language">
                <option value="default" selected disabled hidden></option>
                <option value="English">English</option>
                <option value="French">French</option>
                <option value="German">German</option>
              </select>
              <br>
              <small class="text-danger" [class.d-none]="!LanguageHasError || Language.untouched">Please choose a
                language</small>
            </td>
          </tr>
          <tr>
            <td>Fee (CHF)*: </td>
            <td>
              <input type="number" #Cost="ngModel" required class="form-control"
                [class.is-invalid]="Cost.invalid && Cost.touched" name="Cost" class="form-control"
                [(ngModel)]="training.Costs" name="Cost" #cost="ngModel">
              <div *ngIf="(cost?.errors && cost.invalid && cost.touched)">
                <small class="text-danger">The cost is required and it has to be a number</small>
              </div>
              <div *ngIf="checkLimit(training.Costs, 'Cost')">
                <small class="text-danger">The fee has to be between 0 and 7500 CHF</small>
              </div>
            </td>
          </tr>
          <tr>
            <td>Duration (Days)*: </td>
            <td>
              <input type="number" #Duration="ngModel" required class="form-control"
                [class.is-invalid]="Duration.invalid && Duration.touched" name="Duration" class="form-control"
                [(ngModel)]="training.Duration" #duration="ngModel">
              <div *ngIf="(duration.errors && duration.invalid && duration.touched)">
                <small class="text-danger">The duration is required and it has to be a number</small>
              </div>
              <div *ngIf="checkLimit(training.Duration, 'Duration')">
                <small class="text-danger">The duration has to be between 0 and 15 days</small>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-lg-6">
          <label class="label-heading">Training Website</label><br>
          <input 
          type="url" 
          class="form-control link-field" 
          pattern="https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)" 
          [(ngModel)]="training.Link" 
          [class.is-invalid]="Link.invalid && Link.touched"
          name="Link"
          #Link="ngModel">
          <div *ngIf="Link.errors?.pattern">
              <small class="text-danger">The URL is invalid</small>
          </div><br>
          <label class="label-heading">Related content (link to GDrive)</label><br>
          <input 
          type="url" 
          class="form-control link-field" 
          pattern="https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)" 
          [(ngModel)]="training.relatedContent" 
          [class.is-invalid]="relatedContent.invalid && relatedContent.touched"
          name="relatedContent"
          #relatedContent="ngModel">
          <div *ngIf="relatedContent.errors?.pattern">
              <small class="text-danger">The URL is invalid</small>
          </div><br>
      </div>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions style="float: right;">
  <button class="mat-raised-button" (click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" (click)="save()"
    [disabled]="userForm.form.invalid || Target_groupHasError || CategoryHasError || Target_group.untouched || Category.untouched || LimitErrorCost || LimitErrorDuration || LanguageHasError || Language.untouched">Add
    training</button>
</mat-dialog-actions>