<h2 mat-dialog-title>Modify Request for "{{request.trainingName}}"</h2>
<form #userForm="ngForm" (ngSubmit)="save()">

  <div mat-dialog-content style="line-height: 97%;">
    <br>

    <div class="row">
      <div class="col-lg-6" style="border-right: 1px solid #e0e0e0;">
        <label class="label-heading">Course Dates</label><br>
        <table style="width:100%">
          <tr>
            <td><label>Status:</label> </td>
            <td>
              <label>{{request.status}}</label>
            </td>
          </tr>
          <tr>
            <td>Start Date*: </td>
            <td>
              <input type="date" #dateStart="ngModel" class="form-control" [(ngModel)]="request.dateStart"
                name="dateStart" (change)="compareStartDate(request.dateStart, request.dateEnd)" required
                [class.is-invalid]="dateCheckS && dateStart.touched">
              <div *ngIf="dateCheckS ">
                <small class="text-danger">The end date has to be set after the start date</small>
              </div>
            </td>
          </tr>
          <tr>
            <td>End Date*: </td>
            <td>
              <input type="date" #dateEnd="ngModel" class="form-control" [(ngModel)]="request.dateEnd" name="dateEnd"
                (change)="compareEndDate(request.dateStart, request.dateEnd)" required
                [class.is-invalid]="dateCheckE && dateEnd.touched">
              <div *ngIf="dateCheckE ">
                <small class="text-danger">The end date has to be set after the start date</small>
              </div>
            </td>
          </tr>

          <tr>
            <td>Location*: </td>
            <td>
              <input type="text" required class="form-control" placeholder="location"
                [(ngModel)]="request.location" name="location" #location="ngModel">
              <div *ngIf="location?.errors?.required && location.touched">
                <small class="text-danger">The location is required</small>
              </div>
            </td>
          </tr>

          <tr>
            <td>Effective Costs*: </td>
            <td>
              <input type="number" #trainingCostProject="ngModel" required class="form-control"
                [(ngModel)]="request.trainingCostProject"
                [class.is-invalid]="trainingCostProject.invalid && trainingCostProject.touched"
                name="trainingCostProject">
              <div
                *ngIf="(trainingCostProject?.errors?.required && trainingCostProject.invalid && trainingCostProject.touched)">
                <small class="text-danger">The cost is required and it has to be a number</small>
              </div>
              <div *ngIf="checkLimit(request.trainingCostProject, 'Cost')">
                <small class="text-danger">The cost has to be between 0 and 7500 CHF</small>
              </div>
            </td>
          </tr>
          <tr>
            <td>Effective Working Days*: </td>
            <td>
              <input type="number" #trainingDurationProject="ngModel" required class="form-control"
                [class.is-invalid]="trainingDurationProject.invalid && trainingDurationProject.touched"
                [(ngModel)]="request.trainingDurationProject" name="trainingDurationProject">
              <div
                *ngIf="(trainingDurationProject?.errors?.required && trainingDurationProject.invalid && trainingDurationProject.touched)">
                <small class="text-danger">The effective working days are required</small>
              </div>
              <div *ngIf="checkLimit(request.trainingDurationProject, 'Duration')">
                <small class="text-danger">The duration has to be between 0 and 15 days</small>
              </div>
            </td>
          </tr>
          <tr>
            <td>Project Manager*: </td>
            <td>
              <input type="text" required class="form-control" placeholder="Project manager"
                [(ngModel)]="request.projectManager" name="projectManager" #projectManager="ngModel">
              <div *ngIf="projectManager?.errors?.required && projectManager.touched">
                <small class="text-danger">The project manager is required</small>
                <br>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-lg-6">
        <label class="label-heading">Training Website:</label><br>
        <label><a href={{request.courseLink}} target="_blank">{{request.courseLink}}</a></label><br>
        <label class="label-heading">Motivation</label><br>
        <textarea rows=2 name="motivation" id="motivation" class="form-control description-field"
          [(ngModel)]="request.motivation"></textarea>
        <br>
        <label class="label-heading">Comments</label>
        <textarea rows=2 name="comment" id="comment" class="form-control description-field"
          [(ngModel)]="request.comment"></textarea>
      </div>
    </div>


  </div>
</form>
<div mat-dialog-actions style="float: right;">
  <button mat-raised-button color="primary" (click)="save()"
    [disabled]="userForm.form.invalid || LimitErrorCost || LimitErrorDuration || dateCheckS || dateCheckE">Modify</button>

  <button mat-raised-button color="primary" (click)="close()">Cancel</button>
</div>