<h3 class="heading">Delete Training</h3>
  <br>
<p style="color: #5C5C5C;"> Are you sure you want to delete the training "<i>{{training.Name}}</i>"?</p>


<div mat-dialog-actions style="float: right;">
    <button  mat-raised-button (click)="save()">Delete</button>
    <button  mat-raised-button (click)="close()">Cancel</button>
</div>


