.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.trainingsButtons {
outline: none;  
border-radius: 12px;
color: #01416F;//"primary";
}

.dropdown-field {
  width: 120px;
  height: 30px;
}

 select:focus {
  outline: none;      /* Remove default outline and use border or box-shadow */
  border: 2px solid #01416F;
  box-shadow: none;
  box-shadow: 0px 1px 4px #01416F;
 }

.heading {
  color: #01416F;
  text-align: left;
  //font-family: 'Antic Slab';
}

.cont {
  background-color: #989898;
}

.marketing .col-md-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}

.pieElement{
  // border-collapse: collapse;
  box-shadow: 0px 0px 6px #989898;
  margin: 5px;
  padding: 5px;
  //background-color: blue;
  padding-bottom: 4cm;
}

.col-md-6{
  // text-align: center;
  margin:0px;
}
// .marketing h2 {
//   // font-weight: 400;
// }
.marketing .col-md-4 p {
  margin-right: .75rem;
  // margin-left: .75rem;
}

.no-records {
  padding-top: 10px;
  color: #fff;
}

.m_frame {
 border: solid 1px;
 padding-top:5%;
 border-radius:10px;
 margin: 0.5%;
}


.container-name div {
    display: inline-block;
  // padding: 15px;
  }

.container-name-small div {
    display: inline-block;
  // padding: 3px;
  font-size:8pt;
  }


.centered-cell {
text-align: center;
}

.container-inline div {
    display: inline-block;
    vertical-align: top;
    // padding: 10px;
    margin: 1%;
  }

.container-left {
  width: 0%;
  min-width: 120px;
  // max-width: 212px;
  vertical-align: top;
  //   border: 2px solid black;
  }

.container-right {
  width: 0%;
  //max-width: 120px;
  // max-width: 15%;
  vertical-align: top;
}
  


.mat-green {
    background-color: green;
    color: #fff;
}
.mat-red {
    background-color: red;
    color: #fff;
}

.donut-inner-right {
   margin-top: -30;
   margin-left: 26%;
}

.donut-inner {
   margin-top: -30%;
   margin-left: 19%;
}
.donut-inner h5 {
   margin-bottom: 5px;
   margin-top: 0;
}
.donut-inner span {
   font-size: 12px;
}

.mat-raised-button {
  outline: none;
  background-color: #01416F;
  color: #fff;
}

.label-heading {
  //font-family: 'Antic Slab';
  color: #01416F;
}

// Begin Table Style ------------------- 

.container-central {
  width: 80%;
  max-width: 1301px;
  //margin: 0 auto;
  vertical-align: top;
  //border: 1px solid black;
}

.container-donut {
  width: 80%;
  max-width: 1300px;
  //margin: 0 auto;
  vertical-align: top;
  margin: auto;
  //border: 1px solid black;
}

.catalogueLink {
  color: #fff;
  font-weight: bold;
}

.container-central-coachees-request {
  width: 80%;
  max-width: 1270px;
  //margin: 0 auto;
  vertical-align: top;
  //border: 1px solid black;
}


// .example-container {
//   width: 100%;
//   overflow: auto;
//   display: table;
//   //margin: 0 auto;
//   //width: 900;
//   //max-width: 935px;
//   //border: 2px solid blue;
// }


.example-container-donut {
  background-color: #fff;
  width: 100%;
  //overflow-y: none;
  margin: 5px;
  padding: 5px;
  padding-bottom: 4cm;
}


.example-container {
  width: 100%;
  overflow: none;
  display: table;
  //background-color: #fff;
  background-color: #01416F !important;
}


  th {
   overflow: hidden;
   width: 120px;
   word-wrap: break-word !important; 
 }  


 td {
   overflow: hidden;
   width: 120px;
   word-wrap: break-word !important; 
   color: #5C5C5C;
 }

 table {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  width: 100% !important;
  left:0 !important;
  right:0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
 }



th.mat-column-star {
 background-color: #01416F;
 color: #fff;
 overflow: hidden;
 max-width: 81px;
 min-width: 81px;
 word-wrap: break-word !important; 
 text-align: center;
 border-right: 1px solid #e0e0e0;
}

td.mat-column-star {
 overflow: hidden;
 max-width: 81px;
 min-width: 81px;
 word-wrap: break-word !important; 
 //text-overflow: ellipsis;
 //white-space: nowrap;
 //word-break: pre-line;
 text-align: right;
}



td.mat-column-Training-Name {
 overflow: hidden;
 min-width: 220px;
 word-wrap: break-word !important; 
 text-align: left;
 font-weight: bold;
 border-right: 1px solid #e0e0e0;
 padding-left: 10px !important;
 padding-right: 4px !important;
} 

th.mat-column-Training-Name {
 overflow: hidden;
 min-width: 220px;
 word-wrap: break-word !important; 
 text-align: left;
 font-weight: bold;
 background-color: #01416F;
 color: #fff;
 border-right: 1px solid #e0e0e0;
 padding-left: 10px !important;
 padding-right: 4px !important;
}

th.mat-column-Date-Request {
 background-color: #01416F;
 color: #fff;
 overflow: hidden;
 min-width: 120px;
 word-wrap: break-word !important; 
 text-align: center;
 border-right: 1px solid #e0e0e0;
}

td.mat-column-Date-Request {
 overflow: hidden;
 min-width: 120px;
 word-wrap: break-word !important; 
 text-align: center;
 border-right: 1px solid #e0e0e0;
 //text-overflow: ellipsis;
 //white-space: nowrap;
 //word-break: pre-line;
}

th.mat-column-Project-Manager {
 background-color: #01416F;
 color: #fff;
 overflow: hidden;
 min-width: 150px;
 word-wrap: break-word !important; 
 text-align: center;
 border-right: 1px solid #e0e0e0;
}

td.mat-column-Project-Manager {
 overflow: hidden;
 min-width: 150px;
 word-wrap: break-word !important; 
 text-align: center;
 border-right: 1px solid #e0e0e0;
}

th.mat-column-Training-Cost {
 background-color: #01416F;
 color: #fff;
 overflow: hidden;
 min-width: 120px;
 word-wrap: break-word !important; 
 text-align: center;
 border-right: 1px solid #e0e0e0;
}

td.mat-column-Training-Cost {
 overflow: hidden;
 min-width: 100px;
 word-wrap: break-word !important; 
 text-align: center;
 border-right: 1px solid #e0e0e0;
}

th.mat-column-Start-Date {
 background-color: #01416F;
 color: #fff;
 overflow: hidden;
 min-width: 110px;
 word-wrap: break-word !important; 
 text-align: center;
 border-right: 1px solid #e0e0e0;
}

td.mat-column-Start-Date {
 overflow: hidden;
 min-width: 110px;
 word-wrap: break-word !important; 
 text-align: center;
 border-right: 1px solid #e0e0e0;
}


th.mat-column-End-Date {
  background-color: #01416F;
  color: #fff;
  overflow: hidden;
  min-width: 110px;
  word-wrap: break-word !important; 
  text-align: center;
  border-right: 1px solid #e0e0e0;
 }
 
 td.mat-column-End-Date {
  overflow: hidden;
  min-width: 110px;
  word-wrap: break-word !important; 
  text-align: center;
  border-right: 1px solid #e0e0e0;
 }

th.mat-column-Training-Duration {
 background-color: #01416F;
 color: #fff;
 overflow: hidden;
 min-width: 150px;
 word-wrap: break-word !important; 
 text-align: center;
 border-right: 1px solid #e0e0e0;
}

td.mat-column-Training-Duration {
 overflow: hidden;
 min-width: 150px;
 word-wrap: break-word !important; 
 text-align: center;
 border-right: 1px solid #e0e0e0;
}

th.mat-column-Coach {
 background-color: #01416F;
 color: #fff;
 overflow: hidden;
 min-width: 120px;
 word-wrap: break-word !important; 
 text-align: center;
 border-right: 1px solid #e0e0e0;
}

td.mat-column-Coach {
 overflow: hidden;
 min-width: 120px;
 word-wrap: break-word !important; 
 text-align: center;
 border-right: 1px solid #e0e0e0;
}

th.mat-column-Status {
 background-color: #01416F;
 color: #fff;
 overflow: hidden;
 min-width: 120px;
 word-wrap: break-word !important; 
 text-align: center;
 border-right: 1px solid #e0e0e0;
}

td.mat-column-Status {
 overflow: hidden;
 min-width: 120px;
 word-wrap: break-word !important; 
 text-align: center;
 border-right: 1px solid #e0e0e0;
}


th.mat-column-Action {
  background-color: #01416F;
  color: #fff;
  overflow: hidden;
  min-width: 81px;
  max-width: 81px;
  word-wrap: break-word !important; 
  text-align: center;
  //border-right: 1px solid #e0e0e0;
 }
 
 td.mat-column-Action {
  overflow: hidden;
  min-width: 81px;
  max-width: 81px;
  word-wrap: break-word !important; 
  text-align: center;
  //border-right: 1px solid #e0e0e0;
 }


 th.mat-column-Action1 {
  background-color: #01416F;
  color: #fff;
  overflow: hidden;
  min-width: 81px !important;
  max-width: 81px !important;; 
  word-wrap: break-word !important; 
  text-align: center;
  //border-right: 1px solid #e0e0e0;
 }
 
 td.mat-column-Action1 {
  overflow: hidden;
  min-width: 81px !important;;
  max-width: 81px !important;;
  word-wrap: break-word !important; 
  text-align: center;
  //border-right: 1px solid #e0e0e0;
 }

 th.mat-column-Delete {
  background-color: #01416F;
  color: #fff;
  overflow: hidden;
  min-width: 120px;
  word-wrap: break-word !important; 
  text-align: center;
  border-right: 1px solid #e0e0e0;
 }
 
 td.mat-column-Delete {
  overflow: hidden;
  min-width: 110px;
  word-wrap: break-word !important; 
  text-align: center;
  border-right: 1px solid #e0e0e0;
 }





 th.mat-column-Trainee {
  background-color: #01416F;
  color: #fff;
  overflow: hidden;
  min-width: 100px;
  word-wrap: break-word !important; 
  text-align: center;
  border-right: 1px solid #e0e0e0;
 }
 
 td.mat-column-Trainee {
  overflow: hidden;
  min-width: 100px;
  word-wrap: break-word !important; 
  text-align: center;
  border-right: 1px solid #e0e0e0;
 }

 th.mat-column-Decision {
  background-color: #01416F;
  color: #fff;
  overflow: hidden;
  min-width: 110px;
  word-wrap: break-word !important; 
  text-align: center;
  border-right: 1px solid #e0e0e0;
 }
 
 td.mat-column-Decision {
  overflow: hidden;
  min-width: 110px;
  word-wrap: break-word !important; 
  text-align: center;
  border-right: 1px solid #e0e0e0;
 }

 th.mat-column-Cancel {
  background-color: #01416F;
  color: #fff;
  overflow: hidden;
  min-width: 90px;
  max-width: 90px;
  word-wrap: break-word !important; 
  text-align: center;
 }
 
 td.mat-column-Cancel {
  overflow: hidden;
  min-width: 90px;
  max-width: 90px;
  word-wrap: break-word !important; 
  text-align: center;
 }

.mat-table-sticky:first-child {
 border-right: 1px solid #e0e0e0;
}

.mat-table-sticky:last-child {
 border-left: 1px solid #e0e0e0;
}

th.mat-sort-header-sorted {
  color: black;
}

// -------------------- End Table Style


//Panel
.panel-heading {
  max-height: 30px; 
  position: sticky; 
  overflow: none; 
  width:100% !important; 
  left:0 !important;  
  right:0 !important;  
  margin-left: 0px !important;
  margin-right: 0px !important; 
  display: inline-block;
  //border: solid 1px blue;
}

.panel-heading-my-requests {
  max-height: 5px; 
  position: sticky; 
  overflow: none; 
  width:100% !important; 
  left:0 !important;  
  right:0 !important;  
  margin-left: 0px !important;
  margin-right: 0px !important; 
  display: inline-block;
  //border: solid 1px blue;
}

.panel-heading-my-coachees-budget {
  max-height: 5px; 
  position: sticky; 
  overflow: none; 
  width:100% !important; 
  left:0 !important;  
  right:0 !important;  
  margin-left: 0px !important;
  margin-right: 0px !important; 
  display: inline-block;
  //border: solid 1px blue;
}

//BUTTONS & FILTER

%allButtons {
  border-radius: 12px;
  color: #01416F;//"primary";
}

.material-icons.md-48 {
  font-size: 48px;
  margin: 0px;
  padding: 0px;
 }

.filterButton {
  @extend %allButtons;
  border: none;
  color: #fff !important;
  outline: none;
  float: left;
  overflow: none;
  margin-left: 20px;
  //position: sticky;
  //float: right;
  //display: inline-block;
  //margin-left: 200px;
  //padding: 12px 8px;
}

.filter-heading {
  color: #01416F;
  font-size: large;
  //font-family: 'Antic Slab';
  margin-bottom: 10px;
}

.filter-item {
  margin-left:20px;
}

// /deep/.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
//   background-color: #01416F;
// }

// /deep/.mat-checkbox-label { white-space: normal; }


.filter-field {
  width: 150px;
  height: 30px;
  color: #5C5C5C;
}

//BUTTONS & FILTER NEW END

// NEW
.container-inline-inner {
  text-align: center;
  width:100%; 
  margin-top: -10px !important;
  margin-left:0px !important; 
  left:0; 
  bottom:0; 
  right:0; 
  margin-right: 0 !important; 
  overflow: auto;
  //background-color: #01416F;
}



.container-inline {
  text-align: center; 
  overflow: auto;
}

.container-inline-budget {
  text-align: center; 
  overflow: none;
}

.container-inline div {
    display: inline-block;
    vertical-align: top;
    // padding: 10px;
    margin: 1%;
  }


  .hover:hover {
    background-color: #c9c9c9;
  }  
//END NEW


// -------------------- Begin Budget Table

th.mat-column-Trainee-Name {
  background-color: #01416F;
  color: #fff;
  overflow: hidden;
  min-width: 120px;
  word-wrap: break-word !important; 
  text-align: left;
  font-weight: bold;
  border-right: 1px solid #e0e0e0;
 }
 
 td.mat-column-Trainee-Name {
  overflow: hidden;
  min-width: 120px;
  word-wrap: break-word !important; 
  text-align: left;
  font-weight: bold;
  border-right: 1px solid #e0e0e0;
 }

 th.mat-column-Days-Left {
  background-color: #01416F;
  color: #fff;
  overflow: hidden;
  min-width: 100px;
  word-wrap: break-word !important; 
  text-align: center;
  border-right: 1px solid #e0e0e0;
 }
 
 td.mat-column-Days-Left {
  overflow: hidden;
  min-width: 100px;
  word-wrap: break-word !important; 
  text-align: center;
  border-right: 1px solid #e0e0e0;
 }

 th.mat-column-Money-Left {
  background-color: #01416F;
  color: #fff;
  overflow: hidden;
  min-width: 120px;
  word-wrap: break-word !important; 
  text-align: center;
 }
 
 td.mat-column-Money-Left {
  overflow: hidden;
  min-width: 120px;
  word-wrap: break-word !important; 
  text-align: center;
  border-right: 1px solid #e0e0e0;
 }


 // -------------------- End Budget Table