<div class="container-donut" style="margin-top:3%">
  <h2 class="heading">Budget</h2>
  <div style="display: flex;">

    <div style="width: 50%" class="mat-elevation-z8 example-container-donut">
      <div class="col-md-12">
        <div style="width: 100%; color: #5C5C5C;">Money left this year: {{userMoneyLeft}} CHF</div>
      </div><br>
      <canvas id="pieChartM"></canvas>
      <div *ngIf="pieCenter()" class="donut-inner">
        <h5 style="text-align: center; color: #5C5C5C;">Money:</h5>
        <h5 style="text-align: center; color: #5C5C5C;">{{percentageMoneyCY.toFixed()}}% left</h5>

      </div>
    </div>

    <div style="width: 50% " class="mat-elevation-z8 example-container-donut">
      <div class="col-md-12">
        <div style="width: 80%; color: #5C5C5C;">Days left this year: {{userDaysLeft}}</div>
      </div><br>
      <canvas id="pieChartT"></canvas>
      <div *ngIf="pieCenter()" class="donut-inner">
        <h5 style="text-align: center; color: #5C5C5C;">Days:</h5>
        <h5 style="text-align: center; color: #5C5C5C;">{{percentageTimeCY.toFixed()}}% left</h5>

      </div>
    </div>
  </div><br>
</div>


<div class="container-inline" style="overflow: hidden;">
  <div class="container-central">
    <div style="float: left">
      <button mat-raised-button (click)="hidden = !hidden"
        color="primary">{{hidden ? 'Hide yearly comparison' : 'Yearly comparison'}}</button>
    </div>
    <br>
    <br>
    <br>
    <div [hidden]="!hidden" style="display: flex;">
      <div style="width: 100%">

        <canvas id="barChartM">
          <meta charset="UTF-8"></canvas>
      </div>

      <div style="width: 100%">
        <canvas id="barChartT">
          <meta charset="UTF-8"></canvas>
      </div>
    </div>
    <br>
    <!-- <h2 class="heading"> Just to test the budget calculation on the past years</h2>
  <div style="width: 1200px">
    <div *ngFor="let request of startCalculation" style="display: flex;">
      Budget {{request.year.toFixed()}}: {{request.AMB.toFixed() }} CHF| {{request.ATB.toFixed()}} Days|||
      Required: {{request.totalMYear.toFixed()}} CHF| {{request.totalTYear.toFixed()}} Days|||
      Left: {{request.moneyBudget.toFixed()}} CHF| {{request.timeBudget.toFixed()}} Days|||
      Pending:{{request.pendingMoney.toFixed()}} CHF| {{request.pendingTime.toFixed()}}
      Days|||DebitM:{{request.negativeMoney}} DebitT:{{request.negativeTime}}
    </div>
  </div> -->
  </div>

</div>




<div class="container-inline ">
  <div class="container-central">
    <h2 class="heading">Requests</h2>
    <div class="mat-elevation-z8 example-container">
      <div class="container-inline-inner">
        <div class="panel-heading-my-requests">
        </div>
        <table mat-table [dataSource]="dataSourceTraineeRequest">

          <ng-container matColumnDef="Training Name" sticky>
            <th mat-header-cell *matHeaderCellDef> Training Name </th>
            <td mat-cell *matCellDef="let element" matTooltip="{{element.trainingName}}">
              {{element.trainingName}} </td>
          </ng-container>

          <ng-container matColumnDef="Date Request">
            <!-- <th mat-header-cell *matHeaderCellDef> Requested on </th> -->
            <th mat-header-cell *matHeaderCellDef> Request Date </th>
            <td mat-cell *matCellDef="let element">
              {{element.dateRequest.toDate() | date: 'd/MM/yyyy'}}</td>
          </ng-container>


          <ng-container matColumnDef="Project Manager">
            <th mat-header-cell *matHeaderCellDef> Project Manager </th>
            <td mat-cell *matCellDef="let element"> {{element.projectManager}} </td>
          </ng-container>

          <ng-container matColumnDef="Training Cost">
            <th mat-header-cell *matHeaderCellDef> Cost (CHF) </th>
            <td mat-cell *matCellDef="let element"> {{element.trainingCostProject | currency:'756':''}} </td>
          </ng-container>


          <ng-container matColumnDef="Start Date">
            <th mat-header-cell *matHeaderCellDef> Start Date </th>
            <td mat-cell *matCellDef="let element">
              {{element.dateStart | date: 'd/MM/yyyy'}}</td>
          </ng-container>

          <ng-container matColumnDef="End Date">
              <th mat-header-cell *matHeaderCellDef> End Date </th>
              <td mat-cell *matCellDef="let element">
                {{element.dateEnd | date: 'd/MM/yyyy'}}</td>
            </ng-container>

          <ng-container matColumnDef="Training Duration">
            <th mat-header-cell *matHeaderCellDef> Eff. Working Days </th>
            <td mat-cell class="centered-cell" *matCellDef="let element">
              {{element.trainingDurationProject}} </td>
          </ng-container>


          <ng-container matColumnDef="Coach">
            <th mat-header-cell *matHeaderCellDef> Coach </th>
            <td mat-cell *matCellDef="let element"> {{element.traineeCoachFirstName}} </td>
          </ng-container>

          <ng-container matColumnDef="Status">
            <th mat-header-cell *matHeaderCellDef> Status </th>
            <td mat-cell *matCellDef="let element"> {{element.status}} </td>
          </ng-container>

          <ng-container matColumnDef="Action1">
            <th mat-header-cell action1 *matHeaderCellDef>
                <p style="margin-left: 20px; margin-top: 17px;"> Action </p>
            </th>
            <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
              <button class="mat-icon-button trainingsButtons" [matMenuTriggerFor]="menu">
                <!-- pass local reference of mat-menu to be opened on this click -->
                <mat-icon style="margin-left: 20px; margin-top: 10px;">more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <!-- give local reference and tell this is manu by assigning 'matMenu' -->
                <button class="mat-menu-item trainingsButtons" matTooltip="More information"
                  (click)="openDialog(element)"><i class="material-icons">info</i>Info</button>
                <ng-container *ngIf="element.status === 'Pending'">
                  <!-- *ngIf="element.status === 'Pending'" -->
                  <button class="mat-menu-item trainingsButtons" matTooltip="Modify the training request"
                    (click)="modifyOpenDialog(element)"><i class="material-icons">create</i>Modify
                    Request</button>
                  <button class="mat-menu-item trainingsButtons" matTooltip="Delete the training request"
                    (click)="deleteOpenDialog(element)"><i class="material-icons">delete</i> Delete
                    Request</button>
                </ng-container>
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsT;"></tr>
          <tr mat-row class="hover" (click)="openDialog(row)" style="cursor: pointer;" *matRowDef="let row; columns: displayedColumnsT"></tr>
        </table>
        <div class="no-records" *ngIf="!(dataSourceTraineeRequest | async)?.length">
          You have currently no Training Requests. Check out the
          <a class="catalogueLink" routerLink="/header/trainings-filter"> Course Catalogue</a> and book your first
          Training!
        </div>
      </div>
    </div>
  </div>
</div>



<div *ngFor="let user of current_user ">



  <div *ngIf="user.userRole === 'Coach' || user.userRole === 'Partner'">
    <!-- ------------------ coach ----------------------- -->
    <div class=" container-inline" style="margin-top:3%;">
      <!-- <div class="container-left"> </div> -->
      <div class="container-central">
        <h2 class="heading">Coachees' Budgets</h2>
        <div class="mat-elevation-z8 example-container">
          <div class="container-inline-inner">
            <div class="panel-heading-my-coachees-budget">
              <!-- <input class="form-control search-field" type=search placeholder='Search for...' [(ngModel)]='term'>
                <span *ngIf="term" (click)="removeTerm()" class="glyphicon glyphicon-remove form-control-feedback">
                </span> -->
            </div>
            <table mat-table [dataSource]="listCoachees" style="overflow: hidden;">

              <ng-container matColumnDef="Trainee Name" sticky>
                <th mat-header-cell *matHeaderCellDef> Trainee </th>
                <td mat-cell *matCellDef="let coachee"> {{coachee.FirstName}} </td>
              </ng-container>


              <ng-container matColumnDef="Days Left">
                <th mat-header-cell *matHeaderCellDef> Days Left </th>
                <td mat-cell *matCellDef="let coachee"> {{coachee.budgetLeftDays}} </td>
              </ng-container>

              <ng-container matColumnDef="Money Left">
                <th mat-header-cell *matHeaderCellDef>
                  Money Left (CHF)
                </th>
                <td mat-cell *matCellDef="let coachee">
                  {{coachee.budgetLeftMoney | currency:'756':'' }}
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumnsB"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsB;"></tr>
            </table>
 <!--       <div class="no-records">
              You have currently no Coachees.
            </div> -->

             <!--<div class="no-records" *ngIf="!listCoachees.length">
              You have currently no Coachees.
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>




  <mat-menu #filterMenuPartner="matMenu" class="menu-overflow-hidden-partners">
    <form (click)="stopPropagation($event)">
      <h2 class="filter-heading" style="margin-top: 5px; margin-left: 10px; margin-bottom: 10px;">Filters</h2>
      <div class="filter-item">
        <select name="Status" class="filter-field" [(ngModel)]="status" (change)="filterExact('status', status )">
          <option class="preview" [ngValue]="undefined" default disabled> Status </option>
          <option value="Approved">Approved</option>
          <option value="Declined">Declined</option>
          <option value="Pending">Pending</option>
          <option value="Canceled">Canceled</option>
        </select>
      </div>
      <br>
      <div class="filter-item">
        <select name="Coachees" class="filter-field" [(ngModel)]="traineeEmail"
          (change)="filterExact('traineeEmail', traineeEmail )">
          <option class="preview" [ngValue]="undefined" default disabled> Trainee </option>
          <option *ngFor="let coachee of listCoachees " value="{{coachee.email}}">{{coachee.FirstName}}</option>
        </select>
      </div>
      <br>
      <div class="filter-item">
        <select name="Partner" class="filter-field" [(ngModel)]="traineeCoach"
          (change)="filterExact('traineeCoach', traineeCoach)">
          <option class="preview" [ngValue]="undefined" default disabled> Coach </option>
          <option value="alex.mueller@philico.com"> Alex Müller </option>
          <option value="fabian.knecht@philico.com"> Fabian Knecht</option>
          <option value="fabien.roth@philico.com"> Fabien Roth </option>
          <option value="silvan.froehlich@philico.com"> Silvan Fröhlich</option>
          <option value="valentin.mercier@philico.com">Valentin Mercier </option>
        </select>
        <br>
        <br>
        <div style="width: 180px; word-break: break-all">
          <mat-checkbox [checked]="isChecked" (change)="checkBoxHandler('toggle')">
            Show all requests
            <!-- <p style="margin-bottom: -10px; margin-top: 15px">Show all</p> -->
            <!-- <p>employees' requets</p> -->
          </mat-checkbox>
        </div>
      </div>
    </form>
    <form (click)="stopPropagation($event)">
      <br>
      <div class="filter-item">
        <button class="mat-raised-button"
          (click)="removeFilter('traineeCoach'); filterExact('traineeCoach', user.email); removeFilter('status'); removeFilter('traineeEmail'); checkBoxHandler();">Reset
          all</button>
      </div>
    </form>
  </mat-menu>

  <mat-menu #filterMenuCoach="matMenu" class="menu-overflow-hidden">
    <form (click)="stopPropagation($event)">
      <h2 class="filter-heading" style="margin-top: 5px; margin-left: 10px; margin-bottom: 10px;">Filters</h2>
      <div class="filter-item">
        <select name="Status" class="filter-field" [(ngModel)]="status" (change)="filterExact('status', status )">
          <option class="preview" [ngValue]="undefined" default disabled> Status </option>
          <option value="Approved">Approved</option>
          <option value="Declined">Declined</option>
          <option value="Pending">Pending</option>
          <option value="Canceled">Canceled</option>
        </select>
      </div>
      <br>
      <div class="filter-item">
        <select name="Coachees" class="filter-field" [(ngModel)]="traineeEmail"
          (change)="filterExact('traineeEmail', traineeEmail )">
          <option class="preview" [ngValue]="undefined" default disabled> Trainee </option>
          <option *ngFor="let coachee of listCoachees " value="{{coachee.email}}">{{coachee.FirstName}}</option>
        </select>
      </div>
      <br>
    </form>
    <form (click)="stopPropagation($event)">
      <br>
      <div class="filter-item">
        <button class="mat-raised-button"
          (click)="removeFilter('traineeCoach'); filterExact('traineeCoach', user.email); removeFilter('status'); removeFilter('traineeEmail'); checkBoxHandler();">Reset
          all</button>
      </div>
    </form>
  </mat-menu>









  <div class="container-inline" *ngIf="user.userRole !== 'Consultant'">
    <div class="container-central" style="margin-bottom: 500px; overflow-y: none;">
      <h2 class="heading">Coachees' Requests</h2>
      <div class="mat-elevation-z8 example-container">
        <div class="container-inline-inner">
          <div class="panel-heading">
            <button *ngIf="user.userRole === 'Partner'" class="filterButton"
              style="float: right; margin-right: 10px; margin-top: 0px; margin-bottom: 10px;" mat-icon-button
              matTooltip="Filter training"><i class="material-icons md-30"
                [matMenuTriggerFor]="filterMenuPartner">filter_list</i></button>

            <button *ngIf="user.userRole === 'Coach'" class="filterButton"
              style="float: right; margin-right: 10px; margin-top: 0px; margin-bottom: 10px;" mat-icon-button
              matTooltip="Filter training"><i class="material-icons md-30"
                [matMenuTriggerFor]="filterMenuCoach">filter_list</i></button>

            <!-- <input class="form-control search-field" type=search placeholder='Search for...' [(ngModel)]='term'>
                  <span *ngIf="term" (click)="removeTerm()" class="glyphicon glyphicon-remove form-control-feedback">
                  </span> -->
          </div>
          <table mat-table [dataSource]="filteredRequestA" style="overflow-y: none">


            <ng-container matColumnDef="Training Name" sticky>
              <th mat-header-cell *matHeaderCellDef>Training Name</th>
              <td mat-cell *matCellDef="let element"> {{element.trainingName}} </td>
            </ng-container>

            <ng-container matColumnDef="Training Duration">
              <th mat-header-cell *matHeaderCellDef>
                Eff. Working Days
              </th>
              <td mat-cell class="centered-cell" *matCellDef="let element"> {{element.trainingDurationProject}} </td>
            </ng-container>

            <ng-container matColumnDef="Training Cost">
              <th mat-header-cell *matHeaderCellDef>
                Cost (CHF)
              </th>
              <td mat-cell *matCellDef="let element"> {{element.trainingCostProject | currency:'756':''}} </td>
            </ng-container>

            <ng-container matColumnDef="Start Date">
              <th mat-header-cell *matHeaderCellDef>
                Start Date
              </th>
              <td mat-cell *matCellDef="let element">
                {{element.dateStart | date: 'd/MM/yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="Date Request">
              <th mat-header-cell *matHeaderCellDef> Request Date </th>
              <td mat-cell *matCellDef="let element">
                {{element.dateRequest.toDate() | date: 'd/MM/yyyy'}}</td>
            </ng-container>

            <ng-container matColumnDef="Trainee">
              <th mat-header-cell *matHeaderCellDef>
                Trainee
              </th>
              <td mat-cell *matCellDef="let element"> {{element.traineeFirstName}} </td>
            </ng-container>

            <ng-container matColumnDef="Project Manager">
              <th mat-header-cell *matHeaderCellDef> Project Manager </th>
              <td mat-cell *matCellDef="let element"> {{element.projectManager}} </td>
            </ng-container>

            <ng-container matColumnDef="Coach">
              <th mat-header-cell *matHeaderCellDef>
                Coach
              </th>
              <td mat-cell *matCellDef="let element"> {{element.traineeCoachFirstName}} </td>
            </ng-container>

            <ng-container matColumnDef="Status">
              <th mat-header-cell *matHeaderCellDef>
                Status
              </th>
              <td mat-cell *matCellDef="let element"> {{element.status}} </td>
            </ng-container>

            <ng-container matColumnDef="Action">
              <th mat-header-cell action *matHeaderCellDef>
                <p style="margin-left: 20px; margin-top: 17px;"> Action </p>
              </th>
              <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
                <button class="mat-icon-button trainingsButtons" [matMenuTriggerFor]="menu">
                  <!-- pass local reference of mat-menu to be opened on this click -->
                  <mat-icon style="margin-left: 20px; margin-top: 8px;">more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <!-- give local reference and tell this is manu by assigning 'matMenu' -->
                  <button class="mat-menu-item trainingsButtons" matTooltip="More information"
                    (click)="openDialog(element)"><i class="material-icons">info</i>Info</button>
                  <ng-container *ngIf="element.status === 'Pending'">
                    <button class="mat-menu-item trainingsButtons" matTooltip="Approve request"
                      (click)="decisionOpenDialog(element, {decision: 'Approve'})"><i class="material-icons">check</i>
                      Approve Request</button>
                    <button class="mat-menu-item trainingsButtons" matTooltip="Decline request"
                      (click)="decisionOpenDialog(element, {decision: 'Decline'})"><i
                        class="material-icons">close</i>Decline Request</button>
                  </ng-container>
                  <ng-container *ngIf="element.status === 'Approved'">
                    <button class="mat-menu-item trainingsButtons" matTooltip="Cancel request"
                      (click)="cancelOpenDialog(element)"><i class="material-icons">cancel</i>Cancel Request</button>
                  </ng-container>
                </mat-menu>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumnsC;"></tr>
            <tr mat-row class="hover" (click)="openDialog(row)" style="cursor: pointer;" *matRowDef="let row; columns: displayedColumnsC;"></tr>
          </table>
          <div class="no-records" *ngIf="!filteredRequestA.length">
            No Records found
          </div>
        </div>
      </div>
    </div>
  </div>
</div>