<div class="container-inline">

  <div class="container-central">
    
    <mat-menu #appMenu="matMenu" class="menu-overflow-hidden-catalogue">
      <form (click)="stopPropagation($event)">
        <h2 class="filter-heading" style="margin-top: 0px; margin-left: 10px; margin-bottom: 10px;">Filters</h2>
        <div class="filter-item">
          <select name="Targetgroup" class="filter-field" [(ngModel)]="Target_group"
            (change)="filterExact('Target_group', Target_group )">
            <option class="preview" [ngValue]="undefined" default disabled> Eligibility </option>
            <option value="Junior">Junior</option>
            <option value="Consultant">Consultant</option>
            <option value="Senior">Senior</option>
            <option value="Manager">Manager</option>
          </select>
        </div>
        <br>
        <div class="filter-item">
          <select name="Category" 
            class="filter-field" 
            [(ngModel)]="Category"
            (change)="filterExact('Category', Category)">
            <option class="preview" [ngValue]="undefined" default disabled> Category </option>
            <option value="Banking">Banking</option>
            <option value="Soft skills">Soft skills</option>
            <option value="Management">Management</option>
            <option value="IT skills">IT skills</option>
          </select>
        </div>
        <br>
        <div class="form-group has-feedback filter-item">
          <input class="form-control filter-field" type="number" maxlength="4" [(ngModel)]="Costs"
            placeholder='Max cost' name="quantity" min="0" (change)="filterSmallerThan('Costs', Costs)">
        </div>
        <div class="form-group has-feedback filter-item">
          <input class="form-control filter-field" type="number" [(ngModel)]="Duration" placeholder='Max days'
            name="quantity" min="0" max="10" (change)="filterSmallerThan('Duration', Duration)">
        </div>
        <div class="filter-item">
            <mat-checkbox [checked]="isChecked" (change)="checkBoxHandler('toggle')">
            Show inactive
          </mat-checkbox>

        </div>
      </form>
      <form (click)="stopPropagation($event)">
        <div class="filter-item">
          <button class="mat-raised-button"
            (click)="removeFilter('Target_group'); 
            removeFilter('Costs'); 
            removeFilter('Category'); 
            removeFilter('Duration');
            filterExact('active', 'true');
            checkBoxHandler()">Reset
            all</button>
        </div>
      </form>
    </mat-menu>
    <br>
    <br>
    <br>
    <div class="mat-elevation-z8 example-container">
      <div class="container-inline-inner">
        <div class="panel-heading">
          <input class="form-control search-field" type=search placeholder='Search for...' [(ngModel)]='term'  (keyup)="applyFilters()" >
          <span *ngIf="term" (click)="removeTerm()" class="glyphicon glyphicon-remove form-control-feedback">
          </span>
          <button class="addButton" style="float: right; margin-right: 10px; margin-top: -12px; margin-bottom: 0px;" mat-icon-button
          matTooltip="Add a new training" (click)="addTraining()"><i
            class="material-icons md-30">add_circle</i></button>
          <button class="filterButton" style="float: right; margin-right: 0px; margin-top: -12px; margin-bottom: 0px;" mat-icon-button
            matTooltip="Filter training"><i class="material-icons md-30"
              [matMenuTriggerFor]="appMenu">filter_list</i></button>
        </div>
        <table mat-table [dataSource]="dataSourceSort" matSort style="width: 100%; max-width:800px;"
          cellspacing="10">

          <ng-container matColumnDef="Name" sticky>
            <th mat-header-cell *matHeaderCellDef mat-sort-header><p style="margin-left: 0px; margin-top: 17px;">Name</p> </th>
            <td mat-cell *matCellDef="let element"> {{element.Name}} </td>
          </ng-container>


          <ng-container matColumnDef="Language">
            <th mat-header-cell *matHeaderCellDef mat-sort-header ><p style="margin-left: 23px; margin-top: 17px;">Language</p></th>
            <td mat-cell *matCellDef="let element"> {{element.Language}} </td>
          </ng-container>


          <ng-container matColumnDef="Location">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><p style="margin-left: 43px; margin-top: 17px;">Location</p> </th>
            <td mat-cell *matCellDef="let element"> {{element.Location}} </td>
          </ng-container>


          <ng-container matColumnDef="Category">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><p style="margin-left: 43px; margin-top: 17px;">Category</p> </th>
            <td mat-cell *matCellDef="let element"> {{element.Category}} </td>
          </ng-container>




          <ng-container matColumnDef="Target_group">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><p style="margin-left: 28px; margin-top: 17px;">Eligibility</p> </th>
            <td mat-cell *matCellDef="let element"> {{element.Target_group}} </td>
          </ng-container>



          <ng-container matColumnDef="Costs">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><p style="margin-left: 30px; margin-top: 17px;">Fee (CHF)</p> </th>
            <td mat-cell *matCellDef="let element"> {{element.Costs | currency:'756':''}} </td>
          </ng-container>



          <ng-container matColumnDef="Duration">
            <th mat-header-cell *matHeaderCellDef mat-sort-header><p style="margin-left: 12px; margin-top: 17px;">Duration (d)</p> </th>
            <td mat-cell *matCellDef="let element"> {{element.Duration}} </td>
          </ng-container>

          <ng-container matColumnDef="Rating">
            <th mat-header-cell *matHeaderCellDef ><p style="margin-left: 0px; margin-top: 17px;">Rating</p> </th>
            <td mat-cell *matCellDef="let element">
              <ng-container *ngIf="element.avgRating; else noRating">
                  <ng-template #t let-fill="fill">
                      <span class="star" [class.full]="fill === 100">
                        <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
                      </span>
                    </ng-template>
                <ng-container *ngIf="element.avgRating; else noRating">
                  <ngb-rating 
                  matTooltip="{{element.avgRating}}" 
                  [rate]="element.avgRating"
                  [starTemplate]="t" 
                  [readonly]="true" 
                  max="5"></ngb-rating>
                </ng-container>
              </ng-container>
              <ng-template #noRating></ng-template>
            </td>
          </ng-container>


          <ng-container matColumnDef="star">
            <th mat-header-cell action *matHeaderCellDef>
              <p style="margin-left: 20px; margin-top: 17px;">Action</p>
            </th>
            <td mat-cell *matCellDef="let element" (click)="$event.stopPropagation()">
              <button class="mat-icon-button trainingsButtons" [matMenuTriggerFor]="menu">

                <mat-icon style="margin-left: 20px;">more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">

                <button class="mat-menu-item trainingsButtons" matTooltip="View details of the training and apply"
                  (click)="requestTraining(element)"><i class="material-icons">more_horiz</i> View More</button>
                <button class="mat-menu-item trainingsButtons" matTooltip="Modify the training"
                  (click)="modifyMessage(element)"><i class="material-icons">create</i> Modify</button>
                <button *ngIf="userRole === 'Coach' || userRole === 'Partner'" class="mat-menu-item trainingsButtons" matTooltip="Delete the training"
                  (click)="deleteMessage(element)"><i class="material-icons">delete</i>Delete</button>
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row class="hover" (click)="requestTraining(row)" style="cursor: pointer;" *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div class="no-records" *ngIf="!filteredCourse?.length">
          No Records found
        </div>
      </div>
    </div>

  </div>
</div>









