.heading {
  color: #01416F;
  //font-family: 'Antic Slab';
}

// $button-color: #333;

%allButtons {
   border-radius: 12px;
   border: 0px !important;
   outline: none !important;
   color: #01416F;//"primary";
 }

body {
  overflow-y: scroll;
}


input:focus {
  outline: none;      /* Remove default outline and use border or box-shadow */
  border: 2px solid #01416F;
  box-shadow: none;
  box-shadow: 0px 1px 4px #01416F;
 }

.mat-raised-button {
  outline: none;
  background-color: #01416F;
  color: #fff;
}

//Panel
.panel-heading {
  max-height: 20px; 
  position: sticky; 
  overflow: none; 
  width:100% !important; 
  left:0 !important;  
  right:0 !important;  
  top:0 !important;  
  bottom:0 !important;  
  margin-left: 0px !important;
  margin-right: 0px !important; 
  display: inline-block;
  }

.mat-expansion-panel-content > .mat-expansion-panel-body
 {
   display: block;
   text-align: center;
   height: 100vh;
    }

  .label-heading {
      color: #01416F;
      font-size: large;
      //font-family: 'Antic Slab';
      margin-bottom: 5px;
  }

.modal2 {
  z-index: 100001 !important;
}

.myapp-no-padding-dialog .mat-dialog-container {
  padding: 0;
  margin: 0;
}



th.mat-sort-header-sorted {
  color: black;
}


tr.example-detail-row {
  height: 0;
}


tr.example-element-row:not(.example-expanded-row):hover {
  background: #f5f5f5;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row {
  border-bottom-width: 0;
  overflow: hidden;
  display: flex;
}

.example-element-row {
  border-bottom-width: 0;
  overflow: hidden;
  display: flex;
}



.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}



.example-element-description-attribution {
  opacity: 0.5;
}


.no-records {
  padding-top: 10px;
  color: #fff;
}

.trainingsButtons {
  @extend %allButtons;
  border: none;
  outline: none;
  padding-top: 0px;
  margin-top: 15px;
  margin-right: 0px;
  margin-left: 0px;
  max-width: 100%;
  min-width: 20%
}


.hover:hover {
  background-color: #c9c9c9;
}  

//BUTTONS & FILTER

 .filterButton {
  @extend %allButtons;
  border: none !important;
  color: #fff !important;
  outline: none;
  float: right;
  overflow: none;
}



.addButton {
  //@extend %allButtons;
  color: #fff !important;
  border: none;
  outline: none !important;
  overflow: none;
  position: sticky;
  display: inline-block;
}

.filter-heading {
  color: #01416F;
  font-size: large;
  //font-family: 'Antic Slab';
  margin-bottom: 10px;
}

.filter-item {
  margin-left:20px;
}



.filter-field {
  width: 150px;
  height: 30px;
  color: #5C5C5C;
}

//BUTTONS & FILTER NEW END
 
  .left {
    width: 65%;
    float: left;
    left: 0;
  }

  .right {
    width: 65%;
    float: right;
    right: 0;
  }

  input[type="search"] {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    -webkit-appearance: searchfield;
   }
   
   input[type="search"]::-webkit-search-cancel-button {
   -webkit-appearance: searchfield-cancel-button;
   }

   
input[type="number"] {
    -moz-appearance: searchfield;
}

input[type="number"]::-ms-clear {
  color: red; /* This sets the cross color as red. */
  /* The cross can be hidden by setting the display attribute as "none" */
}

input[type="number"]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield;
}

input[type="number"]::-webkit-inner-spin-button, 
input[type="number"]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}


  
.philico-blue {
  color: #01416F !important;
}



.search-field {
  //display: inline-block;
  height: 15px;
  margin-top: -10px;
  width: 260px;
  margin-left: 10px !important;
  float: left;
  overflow: none; 
}

.dropdown-field {
  width: 120px;
  height: 30px;
}

.number-field {
  width: 120px;
  height: 30px;
}

.hoverWrapper:hover #hoverShow1 {
  display: block;
 }

 .hoverWrapper #hoverShow1 {
  display: none;
  position: absolute;
  width: 250px;
  height: 250px;
  left: 200px;
  top: 100px;
 }

 .material-icons.md-30 {
   //font-size: 30px;
   margin: 0px;
   padding: 0px;
  }

.container-name div {
    display: inline-block;
  // padding: 15px;
  }

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


.row {
    margin-top: 10px;
}


.container-inline div {
    display: inline-block;
    vertical-align: top;
    // padding: 10px;
    margin: 1%;
  }


  .container-inline-inner {
    text-align: center;
    width:100%; 
    margin-left:0px !important; 
    left:0; 
    bottom:0; 
    right:0; 
    top: 0;
    padding-top:0px;
    margin-top: 0px;
    margin-right: 0 !important; 
    overflow: auto;
    //background-color: #01416F;
  }
  
  .container-inline {
    text-align: center; 
    overflow: auto;
  }
  
  .container-inline div {
      display: inline-block;
      vertical-align: top;
      // padding: 10px;
      margin: 1%;
    }


.star {
  outline: none;
  position: relative;
  display: inline-block;
  font-size: 15px;
  color: #d3d3d3;
}


.individualFull {
  color: #FFD700;
}

.individualHalf {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: #FFD700;
}

// Begin Table Style ------------------- 


   th, td {
    overflow: hidden;
    width: 100px;
    word-wrap: break-word !important; 
  }  



table {
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    width: 100% !important;
    left:0 !important;
    right:0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
    //table-layout: fixed;
  }

  td {
    color: #5C5C5C;
  }


.container-central {
  width: 80%;
  max-width: 1221px;
  //margin: 0 auto;
  vertical-align: top;
  //border: 1px solid black;
}

.example-container {
  width: 100%;
  overflow: auto;
  overflow-y: hidden !important;
  display: flex;
  background-color: #01416F !important;
}



.star {
  position: relative;
  display: inline-block;
  font-size: 1.1rem;
  color: #d3d3d3;
}

.full {
  color: #FFD700;
}


.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: #FFD700;
}



th.mat-column-star {
  background-color: #01416F;
  color: #fff;
  overflow: hidden;
  max-width: 81px;
  min-width: 81px;
  word-wrap: break-word !important; 
  text-align: center;
  //border-right: 1px solid #e0e0e0;
}

td.mat-column-star {
  overflow: hidden;
  max-width: 81px;
  min-width: 81px;
  text-align: center;
}

.action {
  text-align: center !important;
}

.mat-header-cell {
  text-align: center !important;
}



td.mat-column-Name {
  overflow: hidden;
  min-width: 220px;
  word-wrap: break-word !important; 
  text-align: left;
  font-weight: bold;
  padding-left: 10px !important;
  padding-right: 4px !important;
} 

th.mat-column-Name {
  overflow: hidden;
  min-width: 220px;
  word-wrap: break-word !important; 
  text-align: left !important;
  font-weight: bold;
  background-color: #01416F;
  color: #fff;
}

th.mat-column-Language {
  background-color: #01416F;
  color: #fff;
  overflow: hidden;
  min-width: 120px;
  word-wrap: break-word !important; 
  text-align: center;
  border-right: 1px solid #e0e0e0;
}

td.mat-column-Language {
  overflow: hidden;
  min-width: 120px;
  word-wrap: break-word !important; 
  text-align: center;
  border-right: 1px solid #e0e0e0;
}

th.mat-column-Location {
  background-color: #01416F;
  color: #fff;
  overflow: hidden;
  min-width: 150px;
  word-wrap: break-word !important; 
  text-align: center;
  border-right: 1px solid #e0e0e0;
}

td.mat-column-Location {
  overflow: hidden;
  min-width: 150px;
  word-wrap: break-word !important; 
  text-align: center;
  border-right: 1px solid #e0e0e0;
}

th.mat-column-Category {
  background-color: #01416F;
  color: #fff;
  overflow: hidden;
  min-width: 150px;
  word-wrap: break-word !important; 
  text-align: center;
  border-right: 1px solid #e0e0e0;
}

td.mat-column-Category {
  overflow: hidden;
  min-width: 150px;
  word-wrap: break-word !important; 
  text-align: center;
  border-right: 1px solid #e0e0e0;
}

th.mat-column-Costs {
  background-color: #01416F;
  color: #fff;
  overflow: hidden;
  min-width: 130px;
  word-wrap: break-word !important; 
  text-align: center;
  border-right: 1px solid #e0e0e0;
}

td.mat-column-Costs {
  overflow: hidden;
  min-width: 130px;
  word-wrap: break-word !important; 
  text-align: center;
  border-right: 1px solid #e0e0e0;
}

th.mat-column-Rating {
  background-color: #01416F;
  color: #fff;
  overflow: hidden;
  min-width: 140px;
  word-wrap: break-word !important; 
  text-align: center;
  border-right: 1px solid #e0e0e0;
}

td.mat-column-Rating {
  overflow: hidden;
  min-width: 140px;
  word-wrap: break-word !important; 
  text-align: center;
  border-right: 1px solid #e0e0e0;
}

th.mat-column-Target_group {
  background-color: #01416F;
  color: #fff;
  overflow: hidden;
  min-width: 120px;
  word-wrap: break-word !important; 
  text-align: center;
  border-right: 1px solid #e0e0e0;
}

td.mat-column-Target_group {
  overflow: hidden;
  min-width: 120px;
  word-wrap: break-word !important; 
  text-align: center;
  border-right: 1px solid #e0e0e0;
}

th.mat-column-Duration {
  background-color: #01416F;
  color: #fff;
  overflow: hidden;
  min-width: 110px;
  word-wrap: break-word !important; 
  text-align: center;
  border-right: 1px solid #e0e0e0;
}

td.mat-column-Duration {
  overflow: hidden;
  min-width: 110px;
  word-wrap: break-word !important; 
  text-align: center;
  border-right: 1px solid #e0e0e0;
}


.mat-table-sticky:first-child {
  border-right: 1px solid #e0e0e0;
}

.mat-table-sticky:last-child {
  border-left: 1px solid #e0e0e0;
}

// -------------------- End Table Style




















