<h2 mat-dialog-title> {{decision}} request for "{{request.trainingName}}"</h2>


<div mat-dialog-content style="line-height: 97%;">
  <br>

  <div class="row">
    <div class="col-lg-6" style="border-right: 1px solid #e0e0e0;">
      <label class="label-heading">Request Details</label><br>
      <table style="width:100%; border-collapse:separate; 
      border-spacing:0 5px;">
        <tr>
          <td>Status: </td>
          <td>{{request.status}}</td>
        </tr>
        <tr style="background-color: #e0e0e0;">
          <td>Requested on: </td>
          <td>{{request.dateRequest.toDate() | date: 'd/MM/yyyy'}}</td>
        </tr>
        <tr>
          <td>Course Start: </td>
          <td>{{request.dateStart | date: 'd/MM/yyyy'}}</td>
        </tr>
        <tr style="background-color: #e0e0e0;">
          <td>Course End: </td>
          <td>{{request.dateEnd | date: 'd/MM/yyyy'}}</td>
        </tr>
        <tr>
          <td>Location: </td>
          <td>{{request.location}}</td>
        </tr>
        <tr style="background-color: #e0e0e0;">
          <td>Fee (CHF): </td>
          <td>{{request.trainingCost | currency:'756':''}}</td>
        </tr>
        <tr>
          <td>Duration (Days): </td>
          <td>{{request.trainingDuration}}</td>
        </tr>
        <tr style="background-color: #e0e0e0;">
          <td>Effective Cost: </td>
          <td>{{request.trainingCostProject | currency:'756':''}}</td>
        </tr>
        <tr>
          <td>Effective Working Days: </td>
          <td>{{request.trainingDurationProject}}</td>
        </tr>
        <tr style="background-color: #e0e0e0;">
          <td>Project Manager: </td>
          <td>{{request.projectManager}}</td>
        </tr>
      </table>
    </div>
    <div class="col-lg-6">
      <label class="label-heading">Training Website</label><br>
      <label><a href={{request.courseLink}} target="_blank">{{request.courseLink}}</a></label>
      <br>
      <label class="label-heading">Motivation:</label><br>
      <label class="txt-field">{{request.motivation}}</label>
      <br>
      <label class="label-heading">Comment:</label><br>
      <label class="txt-field">{{request.comment}}</label>

      <form #userForm="ngForm">
        <label class="label-heading">Decision comment*:</label><br>
        <textarea required class=" form-control description-field" placeholder="Add comment"
          [(ngModel)]="request.coachComment" name="coachComment" #coachComment>
              </textarea>
        <br>
        <div *ngIf="coachComment?.errors?.required && coachComment.touched">
          <small class="text-danger">Please provide a comment with your decision</small>
        </div>
      </form>

    </div>
  </div>
</div>





<div mat-dialog-actions style="float: right;">
  <button mat-raised-button color="primary" *ngIf="decision == 'Approve'" [disabled]="userForm.form.invalid"
    (click)="notifyDecision(request)">Approve</button>
  <button mat-raised-button color="primary" *ngIf="decision == 'Decline'" [disabled]="userForm.form.invalid"
    (click)="notifyDecision(request)">Decline</button>
  <button mat-raised-button color="primary" (click)="onNoClick()">Cancel</button>
</div>