<h2 mat-dialog-title >Modify Course</h2>

<mat-dialog-content [formGroup]="form" style="line-height: 97%;">
  <form #userForm="ngForm" (ngSubmit)="save()">
    <br>
    <div class="row">
      <div class="col-sm-4">
        <label class="label-heading">Training name</label><br>
        <input type="text" #Name="ngModel" required class="form-control" class="form-control"
          [(ngModel)]="training.Name" name="Name" #name="ngModel">
        <div *ngIf="name?.errors?.required">
          <small class="text-danger">Training name is required</small>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <label class="label-heading">Description</label><br>
        <textarea type="textarea" class="form-control description-field" [(ngModel)]="training.Description"
          name="Description">
          </textarea><br>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-6" style="border-right: 1px solid #e0e0e0;">
        <label class="label-heading">Summary</label><br>
        <table style="width:100%">
          <tr>
            <td>Category: </td>
            <td>
              <select class="dropdown-field" 
                #Category="ngModel" 
                (blur)="validateCategory(Category.value)"
                (change)="validateCategory(Category.value)"
                [(ngModel)]="training.Category" 
                name="Category">
                <option value="Banking">Banking</option>
                <option value="Soft skills">Soft skills</option>
                <option value="Management">Management</option>
                <option value="IT skills">IT skills</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>Eligibility: </td>
            <td>
              <select class="dropdown-field" 
                #Target_group="ngModel" 
                (blur)="validateTarget_group(Target_group.value)"
                (change)="validateTarget_group(Target_group.value)" 
                [(ngModel)]="training.Target_group"
                name="Target_group">
                <option value="Junior">Junior</option>
                <option value="Consultant">Consultant</option>
                <option value="Senior">Senior</option>
                <option value="Manager">Manager</option>
              </select>
            </td>
          </tr>
          <tr>
            <td>Certification Title: </td>
            <td>
              <input type="text" class="form-control" [(ngModel)]="training.Certification" name="Certification">
            </td>
          </tr>
          <tr>
            <td>Location*: </td>
            <td>
              <input type="text" #Location="ngModel" required class="form-control" class="form-control"
                [(ngModel)]="training.Location" [class.is-invalid]="location.invalid && location.touched"
                name="Location" #location="ngModel">
              <div *ngIf="location?.errors?.required">
                <small class="text-danger">The location is required</small>
              </div>
            </td>
          </tr>
          <tr>
            <td>Institute*: </td>
            <td>
              <input type="text" class="form-control" required [(ngModel)]="training.Institute"
                [class.is-invalid]="institute.invalid && institute.touched" name="Institute" #institute="ngModel">
              <div *ngIf="institute?.errors?.required">
                <small class="text-danger">The institute is required</small>
              </div>
            </td>
          </tr>
          <tr>
            <td>Language*: </td>
            <td>
              <select class="dropdown-field" #Language="ngModel" (blur)="validateLanguage(Language.value)"
                (change)="validateLanguage(Language.value)" [(ngModel)]="training.Language" name="Language"
                [class.is-invalid]="language.invalid && language.touched" #language="ngModel">
                <option value="default" selected disabled hidden></option>
                <option value="English">English</option>
                <option value="French">French</option>
                <option value="German">German</option>
              </select>
              <div *ngIf="language.errors?.required">
                <small class="text-danger">Please choose a language</small>
              </div>
            </td>
          </tr>
          <tr>
            <td>Fee (CHF)*: </td>
            <td>
              <input type="number" #Cost="ngModel" required class="form-control"
                [class.is-invalid]="Cost.invalid && Cost.touched" [(ngModel)]="training.Costs" name="Cost"
                #cost="ngModel">
              <div *ngIf="(cost?.errors?.required && cost.invalid && cost.touched)">
                <small class="text-danger">The cost is required and it has to be a number</small>
              </div>
              <div *ngIf="checkLimit(training.Costs, 'Cost')">
                <small class="text-danger">The cost has to be between 0 and 7500 CHF</small>
              </div>
            </td>
          </tr>
          <tr>
            <td>Duration (Days)*: </td>
            <td>
              <input type="number" #Duration="ngModel" required class="form-control"
                [class.is-invalid]="Duration.invalid && Duration.touched" name="Duration" class="form-control"
                [(ngModel)]="training.Duration" #duration="ngModel">
              <div *ngIf="(duration?.errors?.required && duration.invalid && duration.touched)">
                <small class="text-danger">The duration is required and it has to be a number</small>
              </div>
              <div *ngIf="checkLimit(training.Duration, 'Duration')">
                <small class="text-danger">The duration has to be between 0 and 15 days</small>
              </div>
            </td>
          </tr>
        </table>
      </div>
      <div class="col-lg-6">
        <label class="label-heading">Training Website</label><br>
        <input type="url" 
        class="form-control link-field" 
        [(ngModel)]="training.Link"
        pattern="https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)" 
        [class.is-invalid]="Link.invalid && Link.touched" 
        name="Link" 
        #Link="ngModel">
        <div *ngIf="Link.errors?.pattern">
          <small class="text-danger">The URL is invalid</small>
        </div>
        <br>
        <label class="label-heading">Related Content</label><br>
        <input 
        type="text" 
        class="form-control link-field" 
        [(ngModel)]="training.relatedContent"
        pattern="https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)" 
        [class.is-invalid]="relatedContent.invalid && relatedContent.touched" 
        name="relatedContent"
        #relatedContent="ngModel">
        <div *ngIf="relatedContent.errors?.pattern">
          <small class="text-danger">The URL is invalid</small>
        </div>
        <br>
        <div *ngIf="userRoleModfiy === 'Coach' || userRoleModfiy === 'Partner'" >
          <label class="label-heading">Activation</label><br>
          <select class="dropdown-field" 
              #Active="ngModel" 
              [(ngModel)]="training.active" 
              name="active">
                <option value="true">Active</option>
                <option value="false">Deactivate</option>
          </select>
        </div>
      </div>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions style="float: right;">
  <button class="mat-raised-button mat-primary" (click)="save()"
    [disabled]="userForm.form.invalid || LimitErrorCost || LimitErrorDuration">Save</button>
  <button class="mat-raised-button mat-primary" (click)="close()">Cancel</button>
</mat-dialog-actions>
