<h2 mat-dialog-title>{{training.Name}}
  <ng-template #t let-fill="fill">
    <span class="star" [class.full]="fill === 100">
      <span class="half" [style.width.%]="fill">&#9733;</span>&#9733;
    </span>
  </ng-template>

  <ngb-rating matTooltip={{avgRating|async}} [rate]="avgRating | async " [starTemplate]="t" [readonly]="true" max="5">
  </ngb-rating>
  <mat-dialog-actions style="float: right;">
    <mat-button-toggle-group aria-label="Font Style" value="Description">
      <mat-button-toggle (click)="showDescription()" value="Description">Description</mat-button-toggle>
      <mat-button-toggle (click)="showRequest()" value="Request">Request</mat-button-toggle>
      <mat-button-toggle (click)="showRating()" value="Ratings">Ratings</mat-button-toggle>
    </mat-button-toggle-group>
  </mat-dialog-actions>
</h2>


<br>

<mat-dialog-content style="line-height: 97%;">
  <mat-dialog-actions>
    <!-- <button class="mat-raised-button" matTooltip="Back to the catalogue" mat-icon-button color="primary" (click)=close()><i class="material-icons md-48">arrow_back</i></button> -->
  </mat-dialog-actions>


  <div id="training_description">
    <!-- <form  class="trainingForm" ngNativeValidate> -->

    <div class="row">
      <div class="col-lg-12">
        <label class="label-heading">Description</label><br>
        <p class="description-label">{{training.Description}}</p>
      </div>
    </div>


    <div class="row">
      <div class="col-lg-6" style="border-right: 1px solid #e0e0e0;">
        <label class="label-heading">Summary</label><br>
        <table style="width:100%; border-collapse:separate; 
        border-spacing:0 5px;">
          <tr>
            <td>Category: </td>
            <td>{{training.Category}}</td>
          </tr>
          <tr style="background-color: #e0e0e0;">
            <td>Eligibility: </td>
            <td>{{training.Target_group}}</td>
          </tr>
          <tr>
            <td>Certification Title: </td>
            <td>{{training.Certification}}</td>
          </tr>
          <tr style="background-color: #e0e0e0;">
            <td>Location: </td>
            <td>{{training.Location}}</td>
          </tr>
          <tr>
            <td>Institute: </td>
            <td>{{training.Institute}}</td>
          </tr>
          <tr style="background-color: #e0e0e0;">
            <td>Language: </td>
            <td>{{training.Language}}</td>
          </tr>
          <tr>
            <td>Fee (CHF): </td>
            <td>{{training.Costs | currency:'756':''}}</td>
          </tr>
          <tr style="background-color: #e0e0e0;">
            <td>Duration (Days): </td>
            <td>{{training.Duration}}</td>
          </tr>
        </table>
      </div>
      <div class="col-lg-6">
        <label class="label-heading">Training Website</label><br>
        <label><a href={{training.Link}} target="_blank">{{training.Link}}</a></label><br>
        <br>
        <label class="label-heading">Related Content</label><br>
        <label><a href={{training.relatedContent}} target="_blank">{{training.relatedContent}}</a></label><br>
      </div>
    </div>
  </div>


  <!-- -------------------- REQUEST -------------------------------- -->

  <div id="request_training" style="display: none;">
    <!-- <div *ngIf="(training.Target_group === current_user.userRole || current_user.userRole === 'Partner' || current_user.userRole === 'Coach'); else notEligible"> -->
    <!-- <form  #userForm="ngForm" (ngSubmit)="save()"> -->
    <form id="requestForm" #userRequest="ngForm" (ngSubmit)="sendEmail()">
      
      <div class="row">
        <div class="col-lg-6" style="border-right: 1px solid #e0e0e0;">
          <label class="label-heading">Course Dates</label><br>
          <table style="width:100%">
            <tr>
              <td>Start Date*: </td>
              <td>
                <input type="date" #dateStart="ngModel" class="form-control" [(ngModel)]="requestDetails.dateStart"
                  name="dateStart" (change)="compareStartDate(requestDetails.dateStart, requestDetails.dateEnd)"
                  required [class.is-invalid]="dateCheckS && dateStart.touched">
                <div *ngIf="dateCheckS ">
                  <small class="text-danger">The end date has to be set after the start date</small>
                </div>
              </td>
            </tr>
            <tr>
              <td>End Date*: </td>
              <td>
                <input type="date" #dateEnd="ngModel" class="form-control" [(ngModel)]="requestDetails.dateEnd"
                  name="dateEnd" (change)="compareEndDate(requestDetails.dateStart, requestDetails.dateEnd)" required
                  [class.is-invalid]="dateCheckE && dateEnd.touched">
                <div *ngIf="dateCheckE ">
                  <small class="text-danger">The end date has to be set after the start date</small>
                </div>
              </td>
            </tr>


            <tr>
              <td>Location*: </td>
              <td>
                <input type="text" required class="form-control" placeholder="training.Location"
                  [(ngModel)]="training.Location" name="Location" #Location="ngModel">
                <div *ngIf="Location?.errors?.required && Location.touched">
                  <small class="text-danger">The location is required</small>
                </div>
              </td>
            </tr>


            <tr>
              <td>Effective Costs*:</td>
              <td>
                <input type="number" #trainingCostProject="ngModel" required class="form-control"
                  [class.is-invalid]="trainingCostProject.invalid && trainingCostProject.touched"
                  [(ngModel)]="requestDetails.trainingCostProject" name="trainingCostProject"
                  placeholder="Effective Cost">
                <div *ngIf="(trainingCostProject.errors && trainingCostProject.invalid && trainingCostProject.touched)">
                  <small class="text-danger" *ngIf="trainingCostProject?.errors.required">The effective cost is
                    required</small>
                </div>
                <div *ngIf="checkLimit(requestDetails.trainingCostProject, 'Cost')">
                  <small class="text-danger">The cost has to be between 0 and 7500 CHF</small>
                </div>
                <div *ngIf="checkBudget(requestDetails.trainingCostProject, 'Cost')" >
                  <small class="text-danger">Your budget left is only {{current_user.budgetLeftMoney}} CHF</small>
                </div>

              </td>
            </tr>
            <tr>
              <td>Effective Working Days*:</td>
              <td>
                <input type="number" #trainingDurationProject="ngModel" required class="form-control"
                  [class.is-invalid]="trainingDurationProject.invalid && trainingDurationProject.touched"
                  [(ngModel)]="requestDetails.trainingDurationProject" name="trainingDurationProject"
                  placeholder="Effective Days">
                <div
                  *ngIf="(trainingDurationProject.errors && trainingDurationProject.invalid && trainingDurationProject.touched)">
                  <small class="text-danger" *ngIf="trainingDurationProject?.errors.required">The effective working days are required</small>
                </div>
                <div *ngIf="checkLimit(requestDetails.trainingDurationProject, 'Duration')">
                <small class="text-danger">The duration has to be between 0 and 15 days</small>
              </div>
                <div *ngIf="checkBudget(requestDetails.trainingDurationProject, 'Duration')" >
                  <small class="text-danger">Your budget left is only {{current_user.budgetLeftDays}} Days</small>
                </div>
              </td>
            </tr>

            <tr>
              <td>Project Manager*: </td>
              <td>
                <input type="text" required class="form-control" placeholder="Project manager"
                  [(ngModel)]="requestDetails.projectManager" name="projectManager" #projectManager="ngModel">
                <div *ngIf="projectManager?.errors?.required && projectManager.touched">
                  <small class="text-danger">The project manager is required</small>
                </div>
              </td>
            </tr>

          </table>
        </div>
        <div class="col-lg-6">
          <label class="label-heading">Motivation*</label><br>
          <textarea rows=2 required name="motivation" id="motivation" class="form-control description-field"
            [(ngModel)]="requestDetails.motivation"
            #motivation="ngModel"></textarea>
          <div *ngIf="motivation?.errors?.required && motivation.touched">
            <small class="text-danger">The motivation is required</small>
          </div>
          <br>
          <label class="label-heading">Comments</label>
          <textarea rows=2 name="Comment" id="comment" class="form-control description-field"
            [(ngModel)]="requestDetails.comment"></textarea>
            <br>
            <tr *ngIf="!positionCheck(training.Target_group)">
              <td>
                <div class="text-danger">
                   Eligibility Check:  This course is intended for {{training.Target_group}}s.
                </div>
              </td>
            </tr> 

            <br>
            <tr *ngIf="training.active==='false'">
              <td>
                <div class="text-danger">
                   You can not apply for inactive courses.
                </div>
              </td>
            </tr> 

        </div>
      </div>

  

    </form>

  </div>


  <div id="rate_training" style="display: none;">
    <!-- ------------------------ REVIEW ---------------------------- -->
    <form id="reviewForm" #userFormRev="ngForm" (ngSubmit)="starSubmit()">
      <!-- <h3>Post your Review</h3> -->
      <div class="row">
        <div class="col-sm">
          <fieldset class="rating">
            <ng-container *ngFor="let num of [5, 4, 3, 2, 1]">
              <!-- full star -->
              <input (click)="starHandler(num)" [id]="'star'+num" [value]="num-0.5" name="rating" type="radio" />

              <label class="full" [for]="'star'+num"></label>

              <!-- half star -->
              <input (click)="starHandler(num)" [value]="num-0.5" [id]="'halfstar'+num" name="rating" type="radio" />

              <label class="half" [for]="'halfstar'+num"></label>



            </ng-container>
          </fieldset>
        </div>
      </div>
      <br>

      <br>
      <div class="row">
        <div class="col-sm">
          <div *ngIf="checkCurrentRating(); else noCurrentRating">
            <div *ngFor="let element of currentRating">
              <input type="text" required class="form-control" placeholder="Comments" [(ngModel)]="element.comments"
                name="comments"><br>
            </div>
          </div>
          <ng-template #noCurrentRating>
            <input type="text" #ratingComment="ngModel" required class="form-control" placeholder="Comments"
              [(ngModel)]="rating.comments" name="comments"><br>
            <div *ngIf="ratingComment?.errors?.required && ratingComment.touched">
              <small class="text-danger">The comment is required</small>
            </div>
          </ng-template>

        </div>
      </div>
    </form>

    <!-- <mat-dialog-actions>
              <button class="mat-raised-button mat-primary" (click)="starSubmit()" [disabled]="userFormRev.form.invalid">Submit</button>
            </mat-dialog-actions> -->

    <br>
    <div class="row">
      <div class="col-sm">

        <!-- <label> {{ avgRating | async }}/5</label><br> -->

        <ng-template #individualRating let-fill="fill">
          <span class="star" [class.individualFull]="fill === 100">
            <span class="individualHalf" [style.width.%]="fill">&#9733;</span>&#9733;
          </span>
        </ng-template>


      </div>
    </div>
    <br>

    <br>
    <div class="row">
      <div class="col-sm">
        <div *ngFor="let rating of stars | async">
          <br>
          <label class="label-heading">{{ rating.userName }}</label><br>

          <ngb-rating matTooltip="{{rating.value|number:'1.1-1'}}" [rate]="rating.value"
            [starTemplate]="individualRating" [readonly]="true" max="5"></ngb-rating>

          <label class="lbl-rating"> {{rating.timestamp.toDate() | date: 'd/MM/yyyy'}}</label><br>
          <label class="lbl-rating"><i>{{ rating.comments }}</i></label><br>
        </div>
      </div>
      <br>
    </div>


    <!-- ------------------------ REVIEW END ---------------------------- -->

  </div>
  <br>
</mat-dialog-content>

<mat-dialog-actions style="float: right;">
  <button class="mat-raised-button mat-primary" type="submit" form="requestForm" [disabled]="userRequest.form.invalid  || LimitErrorCost || LimitErrorDuration || dateCheckS || dateCheckE || LimitBudgetCost || LimitBudgetDuration || CheckEligibility "
    *ngIf="selectedSubWindow == 'request' && training.active == 'true'">Request</button>
  <button class="mat-raised-button mat-primary" type="submit" form="reviewForm" 
    [disabled]="userFormRev.form.invalid"
    *ngIf="selectedSubWindow == 'rating'">Submit</button>
  <button class="mat-raised-button mat-primary" (click)="close()">Cancel</button>
</mat-dialog-actions>