.mat-dialog-title {
  color: #01416F;
  //font-family: 'Antic Slab';
  font-size: xx-large;
}

.description-label {
  max-width: 800px;
  color: #5C5C5C;
}

.form-control {
  width: 250px;
  height: 30px;
  color: #5C5C5C;
}

.description-field {
  width: 100%;
  height: 80px;
  text-align: left;
  vertical-align: top;
}

.label-heading {
  color: #01416F;
  font-size: 1.2rem;
  //font-family: 'Antic Slab';
  margin-bottom: 15px;
  margin-top: 15px;
}

td, tr {
  color: #5C5C5C;
}

.lbl-rating {
  color: #5C5C5C !important;
}

.mat-button-toggle {
  outline: none;
  color: #01416F;
  font-size: 14px;
} 

.mat-button-toggle-button:focus {
  outline: none !important;
}

.trainingForm {
  padding: 2px;
}

.mat-raised-button{
  // margin-left: 10px;
  outline: #01416F;
  color: #01416F;
  margin-bottom: 15px;
}


.mat-primary {
  background-color: #01416F;
  color: #fff;
}


input:focus {
  outline: none;      /* Remove default outline and use border or box-shadow */
  border: 2px solid #01416F;
  box-shadow: none;
  box-shadow: 0px 1px 4px #01416F;
 }

button:active {
  outline: none;      /* Remove default outline and use border or box-shadow */
  border: 2px solid #01416F;
  box-shadow: none;
  box-shadow: 0px 1px 4px #01416F;
 }

 textarea:focus {
  outline: none;      /* Remove default outline and use border or box-shadow */
  border: 2px solid #01416F;
  box-shadow: none;
  box-shadow: 0px 1px 4px #01416F;
 }

.rating {
  border: none;
  float: left;
  position: relative;
}

.rating > input { display: none; }
.rating > label:before {
  // margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  // display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
color: #ddd;
 float: right;
}



.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  }

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,  selection
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

.avgRating {
  border: none;
  float: left;
  position: relative;
}

.avgRating > input { display: none; }
.avgRating > label:before {
  // margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  // display: inline-block;
  content: "\f005";
}

.avgRating > .half:before {
  content: "\f089";
  position: absolute;
}

.avgRating > label {
  color: #ddd;
 float: right;
}
.avgRating > input:checked ~ label,
.avgRating > label ~ label { color: #FFD700;  }

.avgRating > label:hover ~ input:checked ~ label,  selection
.avgRating > input:checked ~ label { color: #FFED85;  }

.avgRating2 > input { display: none; }
.avgRating2 > label:before {
  // margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  // display: inline-block;
  content: "\f005";
}
.avgRating2empty {
  color: #ddd;
  // float: right;
}

.avgRating2full > input { display: none; }
.avgRating2full > label:before {
  // margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  // display: inline-block;
  content: "\f005";
}

.avgRating2full {
  color: #FFD700;
  // float: right;
}

.star {
  position: relative;
  display: inline-block;
  font-size: 1.5rem;
  color: #d3d3d3;
}
.full {
  color: #FFD700;
}
.half {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: #FFD700;
}

.individualFull {
  color: #FFD700;
  height: 3px;
}

.individualHalf {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  color: #FFD700;
  height: 3px;
}
