.navbar{
    padding-bottom: 5cm;
    // margin-block-start: 2cm;
    margin-bottom: 5cm;
    z-index: 2 !important;
}


.customButton{
  border-radius:8px;
  color: #01416F;
  margin: 5px;
  padding: 5px;
  //font-family: 'Antic Slab';
}

.customButton:hover {
  // border: 2px solid #01416F;
  background-color: #01416F;
  color: white;
  // box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  text-decoration: none;
}

.customButton-active {
  background-color: #01416F;
  color: white;
  // box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  text-decoration: none;
}

.navbar-text {
  color: #5C5C5C;
}