 <div class="navbar d-flex flex-column flex-md-row justify-content-between align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow fixed-top" >
    <!-- <h5 class="my-0 mr-md-auto font-weight-normal">Company name</h5> -->
<div class="p-2">
    <a class= "my-0 mr-md-auto" href="/header/user"> <img style="width: 80px;" src="assets/images/logo_philico.png" alt="logo"> </a>
  </div>
  <div class="navbar-text">
     Welcome, {{userFirstName}}!
  </div>
  <div class="p-2">
    <nav class="my-2 my-md-0 mr-md-3" >

          <a  routerLinkActive="active" class="customButton" routerLink="/header/user" routerLinkActive="customButton-active"> Dashboard </a>
          <a class="customButton" routerLink="/header/trainings-filter" routerLinkActive="customButton-active"> Course Catalogue</a>
          <a class="customButton" href="#" (click)="logout()" routerLinkActive="customButton-active"> <i class="fa fa-sign-out"></i>  Sign out</a>
          <!-- <a class="p-2 text-dark" href="#">Support</a>
          <a class="p-2 text-dark" href="#">Pricing</a> -->
    </nav>
    <!-- <a class="btn btn-outline-primary" href="#">Sign up</a> -->

  </div>
  </div>

