// @import "~bootstrap/dist/css/bootstrap.css";
//
.navbarTop {
   margin-right: 5%;
   margin-left: 5%;
   margin-bottom: 10px;
   border-radius: 0px;
   box-shadow: 0 0px 0px rgba(0, 0, 0, 0.15);
   height: 80px;
   background-color: white;
}

.containerTop {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 1%;
}

.navbarMiddle {
  flex-grow: 50;
  //font-family: 'Antic Slab',Arial, Helvetica, sans-serif;
  margin-right: 200%;
  margin-left: 5%;
  margin-top: 1%;
}

.btnTop {
  text-align: right;
  height: 40px;
  margin-bottom: 1%;
  margin-top: 1%;
}

.nav-link {
  margin-left: 5px;
  margin-right: 5px;
}

//
//.navbar-inverse {
//    border: none;
//}
//
//.navbar-nav {
//    margin: 10px 0 10px 0;
//    height: 70px;
//}
//
//.container-fluid {
//  font-family: 'Antic Slab',Arial, Helvetica, sans-serif;
//  margin-right: 5%;
//  margin-left: 5%;
//  margin-bottom: 0;
//  border-radius: 3px;
//  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
//  height: 70px;
//  background-color: white;
//}
//
//.dropdown-menu{
//  height: auto;
//  max-height: 60vh;
//  overflow-y: auto;
//  overflow-x: auto;
//}
//
//.dropdown-menu li{
//  padding: 15px;
//  /*height: auto;*/
//  /*max-height: 500px;*/
//  /*overflow-x: hidden;*/
//}
//
//.navbar li a, .navbar .navbar-brand {
//  color: #203f60 !important;
//}
//
//
//
//.icon-bar {
//  background-color: #203f60 !important;
//}
//
//
//
//.loginbutton {
//  padding-top: 10px;
//  padding-left: 10px;
//}
