<h2 mat-dialog-title>Cancel Request for "{{request.trainingName}}"</h2>

<!-- <p style="color:blue;"> Training R. component</p> -->
<div mat-dialog-content style="line-height: 97%;">
  <br>
    
    <form #userForm="ngForm" (ngSubmit)="cancelRequest()">
    <div class="row">
        <div class="col-lg-6" style="border-right: 1px solid #e0e0e0;">
            <label class="label-heading">Request Details</label><br>
            <table style="width:100%; border-collapse:separate; 
            border-spacing:0 5px;">
                <tr>
                    <td>Status: </td>
                    <td>{{request.status}}</td>
                </tr>
                <tr style="background-color: #e0e0e0;">
                    <td>Course Start: </td>
                    <td>{{request.dateStart | date: 'd/MM/yyyy'}}</td>
                </tr>
                <tr>
                    <td>Course End: </td>
                    <td>{{request.dateEnd | date: 'd/MM/yyyy'}}</td>
                </tr>
                <tr style="background-color: #e0e0e0;">
                    <td>Location: </td>
                    <td>{{request.location}}</td>
                </tr>
                <tr>
                     <td>Project Manager: </td>
                     <td>{{request.projectManager}}</td>
                </tr>
                <br>
                <tr>
                    <td>Costs to book on the trainee budget (CHF)*: </td>
                    <td>
                        <input type="number" #trainingCostProject="ngModel" required class="form-control" 
                        [(ngModel)]="request.trainingCostProject"
                        [class.is-invalid]="trainingCostProject.invalid && trainingCostProject.touched" name="trainingCostProject">
                      <div
                        *ngIf="(trainingCostProject?.errors?.required && trainingCostProject.invalid && trainingCostProject.touched)">
                        <small class="text-danger">The cost is required and it has to be a number</small>
                        <br>
                      </div>
                      <div *ngIf="checkLimit(request.trainingCostProject, 'Cost')">
                        <small class="text-danger">The cost has to be between 0 and 7500 CHF</small>
                        <br>
                      </div>
                    </td>
                </tr>
                <tr>
                     <td>Time to book on the trainee budget (Days)*: </td>
                     <td>
                        <input type="number" #trainingDurationProject="ngModel" required class="form-control" 
                        [class.is-invalid]="trainingDurationProject.invalid && trainingDurationProject.touched"
                        [(ngModel)]="request.trainingDurationProject" name="trainingDurationProject">
                      <div
                        *ngIf="(trainingDurationProject?.errors?.required && trainingDurationProject.invalid && trainingDurationProject.touched)">
                        <small class="text-danger">The duration is required and it has to be a number</small>
                        <br>
                      </div>
                      <div *ngIf="checkLimit(request.trainingDurationProject, 'Duration')">
                        <small class="text-danger">The duration has to be between 0 and 15 days</small>
                        <br>
                      </div>
                     </td>
                </tr>
            </table>
        </div>
        <div class="col-lg-6">
            <label class="label-heading">Training Website</label><br>
            <label><a href={{request.courseLink}} target="_blank">{{request.courseLink}}</a></label>
            <br>
            <label class="label-heading">Motivation:</label><br>
            <label class="txt-field">{{request.motivation}}</label>
            <br>
            <label class="label-heading">Comment:</label><br>
            <textarea class="form-control description-field" name="comment" id="comment"
          [(ngModel)]="request.comment"></textarea>
        </div>
    </div>

  </form>

</div>

<div mat-dialog-actions style="float: right;">
  <button mat-raised-button color="primary" (click)="cancelRequest()"
    [disabled]="userForm.form.invalid || LimitErrorCost || LimitErrorDuration || dateCheckS || dateCheckE">Cancel
    Request</button>

  <button mat-raised-button color="primary" (click)="close()">Cancel</button>
</div>