<div
  class="navbar d-flex flex-column flex-md-row justify-content-between align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow fixed-top">
  <!-- <h5 class="my-0 mr-md-auto font-weight-normal">Company name</h5> -->
  <div class="p-2">
    <a class="my-0 mr-md-auto" href="/header/user"> <img style="width: 80px;" src="assets/images/logo_philico.png"
        alt="logo"> </a>
  </div>


  <div class="p-2">
    <nav class="my-2 my-md-0 mr-md-3">
      <a class="customButton" (click)="tryGoogleLogin()"> <i class="fa fa-sign-in"></i> Login</a>
    </nav>
  </div>
</div>


<div class="container">
  <!-- <div class="tag"> -->
      <div class="bg-header">
          <h3 class="content-txt">
           WELCOME TO THE PHILICO TRAINING APP
          </h3>
      </div>  
      <br>
      <br>
  <div class="bg-text">
    <h3>
      <p class="content-txt">REQUEST.</p>
      <p class="content-txt">TRAIN.</p>
      <p class="content-txt">RATE.</p>
      <p class="content-txt">REPEAT.</p>
    </h3>
  </div>
</div>
<div class="footer">
</div>
