.container {
  overflow: none;
  background-image: url("/assets/images/login_bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 100%;
  min-width: 100%;
  right: 0;
  left: 0;
  padding: 0;
  margin-top: -30px;
  border: none;
  text-align: center;
  min-height: 700px;
  background-color: #000000;
  background-size: cover;

}


.bg-header {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.6); /* Black w/opacity/see-through */
  margin-top: 50px;
  display: inline-block;
  color: white;
  font-weight: bold;
  z-index: 2;
  text-align: center;
  min-width: 100%;
  padding: 20px;
}

.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.6); /* Black w/opacity/see-through */
  margin-top: 100px;
  display: inline-block;
  color: white;
  font-weight: bold;
  z-index: 2;
  text-align: center;
  min-width: 400px;
  padding: 20px;
}




.content-txt {
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.1),
               0px 18px 23px rgba(0,0,0,0.1);
  font-weight: bold;             
}

.info-container {
  background-color: #f7f7f7;
  width: 100vw;
  position: fixed;
  min-height: 200px !important;
  max-height: 200px !important;
  margin-top: -20px;
}


.footer {
  position: fixed;
  overflow: none;
  left: 0;
  right: 10;
  min-width: 100%;
  height: 100%;
  background-color: #fff;
  color: #01416F;
  text-align: center;
  margin-top: 205px;
  padding: 0;
  margin: 0;
}

a {
  cursor: pointer;
}

.customButton{
  border-radius:8px;
  color: #01416F !important;
  margin: 5px;
  padding: 5px;
  //font-family: 'Antic Slab';
}

.customButton:hover {
  background-color: #01416F;
  color: white !important;
  text-decoration: none;
}

.customButton-active {
  background-color: #01416F;
  color: white !important;
  text-decoration: none;
}


